<%- include("partials/header") %>

<%- include("partials/navbar") %> 

<div class="container">
    <h1 class="text-center">Welcome</h1>
    <h2 class="text-center">This is a mini project to help me learn Express and EJS</h2>
</div>

<%- include("partials/footer") %> 